Repository CDH-Studio/I-Talent, pull requests merged in 2021-09, with the labels that each got.

#1643 [New] implement grouped options for the "react-select" dropdowns
  services/backend/jest.config.json
  services/backend/src/core/options/options.js
  services/backend/src/core/options/util/developmentalGoals.js
  services/backend/src/core/options/util/skillCategories.js
  services/backend/src/core/options/util/skills.js
  services/backend/src/database/seeds/20200610114410-init-options/data/index.js
  services/backend/src/database/seeds/20200610114410-init-options/data/skillCategories.js
  services/backend/src/docs/I-Talent database.xml:Zone.Identifier
  services/backend/src/router/options/docs.yml
  services/backend/src/router/options/docs/category.yml
  services/backend/src/router/options/docs/skill.yml
  services/backend/src/router/options/options.js
  services/backend/tests/src/api/options/developmentalGoals.test.js
  services/backend/tests/src/api/options/skillCategories.test.js
  services/backend/tests/src/api/options/skillCategoriesAllLang.test.js
  services/backend/tests/src/api/options/skillCategory.test.js
  services/backend/tests/src/api/options/skills.test.js
  services/frontend/src/components/formItems/CustomDropdown.jsx
  services/frontend/src/components/profileForms/careerManagementForm/CareerManagementForm.jsx
  services/frontend/src/components/profileForms/careerManagementForm/CareerManagementFormView.jsx
  services/frontend/src/components/profileForms/talentForm/TalentForm.jsx
  services/frontend/src/components/profileForms/talentForm/TalentFormView.jsx
  services/frontend/src/components/reportBug/ReportBugView.jsx
Labels: :wheelchair: accessibility

#1658 [Fix] update 'categories' to 'skillCategories' in seed file
  services/backend/src/database/seeds/20200610114410-init-options/index.js
Labels: fix, backend, :warning: high priority

#1659 [Fix] IE to Edge redirect not opening correct URL
  services/frontend/src/components/layouts/internetExplorerErrorLayout/InternetExplorerErrorLayout.jsx
Labels: fix, frontend

#1638 [Fix] Update frontend packages
  services/frontend/package.json
  services/frontend/yarn.lock
Labels: :electric_plug: dependencies, frontend

#1653 [Fix] improve screen reader a11y of confirmation modals
  services/frontend/src/components/cardVisibilityToggle/CardVisibilityToggleView.jsx
  services/frontend/src/components/formItems/CustomDropdown.jsx
  services/frontend/src/components/layouts/settingsLayout/SettingsLayoutView.jsx
  services/frontend/src/components/modal/AlertDialog.jsx
  services/frontend/src/components/profileForms/welcome/WelcomeView.jsx
  services/frontend/src/styling/antdTheme.js
  services/frontend/src/utils/history.jsx
Labels: :wheelchair: accessibility

#1669 [New] Update react-select to version 5.0
  services/frontend/package.json
  services/frontend/src/components/cardVisibilityToggle/CardVisibilityToggleView.jsx
  services/frontend/src/components/formItems/CustomDropdown.jsx
  services/frontend/yarn.lock
Labels: :electric_plug: dependencies, :wheelchair: accessibility
